/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: transparent;
  font-family: Arial;
  text-align: center;
  color: white;
}
#Score {
  text-align: center;
  font-size: 69pt;
  position: absolute;
  top: 15%;
  width: 100%;
  font-family: 'Anton', sans-serif;
}
#SpaceToPlay{
	top: 40%;
	text-align: center;
	position: absolute;
	width: 100%;
	font-size: 34px;
  font-family: 'Anton', sans-serif;
  }
#SpaceToPlay img{
  vertical-align: middle;
  height: 75px;
}
  
  



  /* BUTTONS */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
  html {
    text-align: center;
  }
  html *,
  html *:before,
  html *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
  }
  html i, html em,
  html b, html strong,
  html span {
    transition: none;
  }
  
  *:before,
  *:after {
    z-index: -1;
  }
  
  h1,
  h4 {
    font-family: "Raleway", "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
  }
  
  a {
    text-decoration: none;
    line-height: 50px;
    color: black;
  }
  
  
  @media (min-width: 600px) {
    .wrap {
      width: 50%;
      float: left;
    }
  }
  [class^=btn-] {
    position: static;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 50px;
    max-width: 200px;
    text-transform: uppercase;
    border: 2px solid currentColor;
  }
  
  .btn-6 {
    color: #fefefe;
  }
  .btn-6.bottomright
  {
    position: absolute !important;
    right: 20px;
    bottom: 20px;
  }
  .btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.705);
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .btn-6:hover {
    color: #fefefe;
  }
  .btn-6:hover span {
    width: 225%;
    height: 450px;
  }
  .btn-6:active {
    background-color: rgba(0, 0, 0, 0.705);;
  }
  