name: Windows

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019]
        buildconfig: [Release Editor]
        include:
          - os: windows-2019
            shell: cmd
            compiler: cl
            target: Windows

    steps:
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Check out repo
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: change dirs
        run: |
          ls
          
      - name: Generate a new project
        shell: cmd
        run: |
          cd Engine/ThirdParty
          call GenerateSolutions.bat
          cd ../../

      - name: Generate a new project
        shell: cmd
        run: cd Project && call GenerateSolution.bat && cd ../

      - name: Compile Tools
        if: ${{ matrix.buildconfig == 'Release Game' }}
        shell: cmd
        run: msbuild /property:Configuration="Release Editor"

      - name: Compile Project
        shell: cmd
        run: msbuild /property:Configuration="${{matrix.buildconfig}}"

      - name: Copy Assets
        shell: cmd
        run: call CopyAssets.bat

      - name: Copy Editor Assets
        shell: cmd
        continue-on-error: true
        run: |
          robocopy ".build/Release/Assets" ".build\\Release Editor\\Assets" *.* /w:0 /r:1 /v /E
          robocopy "Engine/Tools" ".build\\Release Editor\\Engine\\Tools" *.* /w:0 /r:1 /v /E

      - name: Archive Editor
        if: ${{ matrix.buildconfig == 'Release Editor' }}
        uses: actions/upload-artifact@v2
        with:
          name: EmptyProject - Editor
          path: |
            .build/${{matrix.buildconfig}}
            !.build/${{matrix.buildconfig}}/AppX
            !.build/${{matrix.buildconfig}}/Tools/**/*.*
            !.build/${{matrix.buildconfig}}/*.lib
            !.build/${{matrix.buildconfig}}/*.pdb
            !.build/${{matrix.buildconfig}}/*.exp
            !.build/${{matrix.buildconfig}}/*.log
            .build/${{matrix.buildconfig}}/Tools/Optick.exe
            .build/${{matrix.buildconfig}}/Tools/Win64/*.*

      - name: Cook Assets
        if: ${{ matrix.buildconfig == 'Release' }}
        shell: cmd
        run: |
          cd ".build/Release Editor/"
          call Havana.exe -CompileAssets
          cd ../../

      - name: Copy Cooked Assets
        if: ${{ matrix.buildconfig == 'Release' }}
        shell: cmd
        continue-on-error: true
        run: |
          robocopy ".build/Release Editor/Assets" ".build\\Release\\Assets" *.* /w:0 /r:1 /v /E

      - name: Archive Build
        if: ${{ matrix.buildconfig == 'Release' }}
        uses: actions/upload-artifact@v2
        with:
          name: Heap v${{github.run_number}} - ${{matrix.buildconfig}}
          path: |
            Build/${{matrix.buildconfig}}
            Build/${{matrix.buildconfig}}/Assets
            !Build/${{matrix.buildconfig}}/AppX
            !Build/${{matrix.buildconfig}}/*.lib
            !Build/${{matrix.buildconfig}}/*.pdb
            !Build/${{matrix.buildconfig}}/*.exp
            !Build/${{matrix.buildconfig}}/*.log
            !Build/${{matrix.buildconfig}}/**/*.png
            !Build/${{matrix.buildconfig}}/**/*.jpg
            !Build/${{matrix.buildconfig}}/**/*.frag
            !Build/${{matrix.buildconfig}}/**/*.vert
            !Build/${{matrix.buildconfig}}/**/*.var
            !Build/${{matrix.buildconfig}}/**/*.sh
